.pokemon-detail-container {
    max-width: 90%;
    margin: 40px auto;
  }
  
  .pokemon-header {
    text-align: center;
    margin-bottom: 20px;
  
    img {
      margin-top: 10px;
    }
  }
  
  .pokemon-info {
    display: flex;
    flex-wrap: wrap;
  
    .info-item {
      width: 50%;
      margin-bottom: 10px;
    }
  }
  
  .abilities-list {
    list-style-type: none;
    padding: 0;
  }
  
  .loading-container {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
  }

  