<div *ngIf="loading" class="loading-container">
  <p-progressSpinner></p-progressSpinner>
</div>

<i class="pi pi-arrow-left back-button" (click)="goBack()"></i>
<div *ngIf="!loading && pokemon">
  <div class="pokemon-header">
    <img
      [src]="pokemon.sprites.front_default"
      [alt]="pokemon.name"
      width="150"
    />
    <h2>{{ pokemon.name | titlecase }}</h2>
  </div>

  <div class="pokemon-detail-container">
    <p-panel class="info" header="Information">
      <div class="basic-info">
        <div class="pokemon-info">
          <div class="info-item"><strong>ID:</strong> {{ pokemon.id }}</div>
          <div class="info-item">
            <strong>Base Experience:</strong> {{ pokemon.base_experience }}
          </div>
          <div class="info-item">
            <strong>Height:</strong> {{ pokemon.height }}
          </div>
          <div class="info-item">
            <strong>Weight:</strong> {{ pokemon.weight }}
          </div>
          <div class="info-item">
            <strong>Types:</strong> {{ getPokemonTypes(pokemon) | titlecase }}
          </div>
          <div class="info-item">
            <strong>Abilities:</strong>
            {{ getPokemonAbilities(pokemon) | titlecase }}
          </div>
        </div>
        <div class="pokemon-images">
          <div class="image-container">
            <img [src]="pokemon.sprites.front_default" [alt]="pokemon.name" />
            <p class="image-text">Front</p>
          </div>
          <div class="image-container">
            <img [src]="pokemon.sprites.back_default" [alt]="pokemon.name" />
            <p class="image-text">Back</p>
          </div>
        </div>
      </div>
      <p-table
        [value]="pokemon.stats"
        [paginator]="false"
        [rows]="pokemon.stats.length"
      >
        <ng-template pTemplate="header">
          <tr>
            <th>Stat</th>
            <th>Base Value</th>
          </tr>
        </ng-template>
        <ng-template pTemplate="body" let-stat>
          <tr>
            <td>{{ stat.stat.name | titlecase }}</td>
            <td>{{ stat.base_stat }}</td>
          </tr>
        </ng-template>
      </p-table>
    </p-panel>
  </div>
</div>

<div *ngIf="!loading && !pokemon">
  <p>Pokémon not found.</p>
</div>
